@model MyOrange.Models.Project
@{
    // C# 8.0
    string stylename = Model.Value switch
    {
        var v when v >= 100 => "bg-success",
        var v when v >= 80 => "bg-info",
        var v when v >= 60 => string.Empty,
        var v when v >= 40 => "bg-warning",
        _ => "bg-danger" // default value
    };
}

<div class='mb-4'>

    <h4 class='small font-weight-bold'>@Model.Title<span class='float-right'>@Model.Value%</span></h4>
    <div class='progress mb-4'>
        <div class="progress-bar @stylename" role='progressbar' style='width: @Model.Value%' aria-valuenow='@Model.Value.ToString()' aria-valuemin='0' aria-valuemax='100'></div>
    </div>
</div>