@page "Dokumenty"
@model MyOrange.Web.Pages.Documents.IndexModel
@{
    ViewData["Title"] = "Documents";
}

    <h1>Documents</h1>


<table class="table table-hover table-light table-striped">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(m => m.Documents[0].Id)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Documents[0].Title)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Documents[0].DocumentType)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Documents[0].Customer.FirstName)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Documents[0].UpdatedOn)</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var document in Model.Documents)
        {
            <tr>
                <td>@Html.DisplayFor(m => document.Id)</td>
                <td>@Html.DisplayFor(m => document.Title)</td>
                <td>@Html.DisplayFor(m => document.DocumentType)</td>
                <td>@Html.DisplayFor(m => document.Customer.FirstName)</td>
                <td><time-since compare-date-time="@document.UpdatedOn"></time-since></td>
            </tr>
        }

    </tbody>
</table>
