@page "/Customers/View/{id:range(1, 100)}"
@model MyOrange.Web.Pages.Customers.DetailsModel
@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer Details</h1>

@*<h2>Customer Id @Request.Query["id"] </h2>*@

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="text-primary">Overview</h6>
    </div>

    <div class="col-md-8">
        <div class="card-body">
            <h3 class="card-title">@Model.Customer.FirstName @Model.Customer.LastName</h3>
            <p class="card-text">@Model.Customer.Email</p>
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-primary">
        @Model.Message
    </div>
}

@if (TempData["message"] != null)
{
    <div class="alert alert-dark">
        @TempData["message"]
    </div>
}

@if (Model.MessageTemp != null)
{
    <div class="alert alert-info">
        @Model.MessageTemp
    </div>
}

@if (Model.MessageSession != null)
{
    <div class="alert alert-success">
        @Model.MessageSession
    </div>
}


<div>
    <a class="btn btn-primary" asp-page="/Customers/Index">Back to Customers</a>
</div>