@page "/Customers/View/{id:range(1, 100)}"
@model MyOrange.Web.Pages.Customers.DetailsModel
@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer Details</h1>

@*<h2>Customer Id @Request.Query["id"] </h2>*@

<partial name="_CustomerViewPartial" model="@Model.Customer" view-data="ViewData" />

<customer-card customer="@Model.Customer"></customer-card>

@await Component.InvokeAsync("CustomerCard", Model.Customer)

<vc:customer-card customer="@Model.Customer"></vc:customer-card>


@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-primary">
        @Model.Message
    </div>
}

@if (TempData["message"] != null)
{
    <div class="alert alert-dark">
        @TempData["message"]
    </div>
}

@if (Model.MessageTemp != null)
{
    <div class="alert alert-info">
        @Model.MessageTemp
    </div>
}

@if (Model.MessageSession != null)
{
    <div class="alert alert-success">
        @Model.MessageSession
    </div>
}


<div>
    <a class="btn btn-primary" asp-page="/Customers/Index">Back to Customers</a>
</div>