@page
@model MyOrange.Web.Pages.Customers.IndexModel
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<!-- Page Header -->

<div>
    <a asp-page="./Create" class="btn btn-primary">Add Customer</a>
</div>

@if (User.IsInRole("Developer"))
{
}

<!-- Panel search -->
<form method="get">
    <div class="input-group">
        <input type="text" class="form-control" asp-for="FirstName" placeholder="First name" />
        <input type="text" class="form-control" asp-for="Country" placeholder="Country" />
        <div>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm" aria-hidden="true"></i>
            </button>
            <a asp-route-firstname="" asp-route-country="" class="btn btn-primary">Clear</a>
        </div>
    </div>
</form>



<!-- Customers -->
<table class="table table-hover table-light table-striped">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(m => m.Customers[0].Id)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Customers[0].FirstName)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Customers[0].LastName)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Customers[0].Email)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Customers[0].Country)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Customers[0].IsRemoved)</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.DisplayFor(m => customer.Id)</td>
                <td>@Html.DisplayFor(m => customer.FirstName)</td>
                <td>@Html.DisplayFor(m => customer.LastName)</td>
                <td>@Html.DisplayFor(m => customer.Email)</td>
                <td>@Html.DisplayFor(m => customer.Country)</td>
                <td>@Html.DisplayFor(m => customer.IsRemoved)</td>

                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@customer.Id">View</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@customer.Id">Edit</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@customer.Id">Delete</a>
                    <a class="btn btn-success" data-toggle="modal" data-target="#myModal">Popup</a>
                </td>

            </tr>
        }

    </tbody>
</table>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Content -->
        <div class="modal-content">
            <div class="modal-header">Header </div>
            <div class="modal-body">                
                @*<partial name="Details" />*@

                @*<vc:documents customer-id="1" ></vc:documents>*@
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

</div>

